(
    axes: {
        "move_x": Emulated(
            pos: Key(D),
            neg: Key(A),
        ),
    },
    actions: {
        "drop_soft": [[Key(S)]],
        "drop_hard": [[Key(W)]],
        "rotate_ccw": [[Key(K)]],
        "rotate_cw": [[Key(J)]],
        "swap": [[Key(L)]],
    },
)
